<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commits</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="commitChart" width="800" height="400"></canvas>
    <script>
        fetch('https://api.github.com/repos/mouad-tah/5MCSI_Metriques/commits')
            .then(response => response.json())
            .then(data => {
                const commitsData = data.map(commit => ({
                    minute: new Date(commit.commit.author.date).getMinutes(),
                    author: commit.commit.author.name,
                    date: commit.commit.author.date,
                    count: 1
                }));

                const groupedByMinute = commitsData.reduce((acc, value) => {
                    const minute = value.minute;
                    if (!acc[minute]) {
                        acc[minute] = [];
                    }
                    acc[minute].push(value);
                    return acc;
                }, {});

                const labels = Object.keys(groupedByMinute);
                const counts = Object.values(groupedByMinute).map(values => values.length);

                var ctx = document.getElementById('commitChart').getContext('2d');
                var commitChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Commits par minute',
                            data: counts,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        plugins: {
                            legend: {
                                position: 'bottom'
                            },
                            tooltip: {
                                callbacks: {
                                    afterLabel: function(context) {
                                        const minute = context.label;
                                        const commitInfos = groupedByMinute[minute].map(info => `Author: ${info.author}, Date: ${info.date}`);
                                        return commitInfos;
                                    }
                                }
                            }
                        }
                    }
                });
            });
    </script>
</body>
</html>
