<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commits</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="commitChart" width="800" height="400"></canvas>
    <script>
        function extractMinutes(dateString) {
            var dateObject = new Date(dateString);
            return dateObject.getMinutes();
        }

        fetch('https://api.github.com/repos/mouad-tah/5MCSI_Metriques/commits')
            .then(response => response.json())
            .then(data => {
                var commitsPerMinute = {};

                data.forEach(commit => {
                    var commitDate = commit.commit.author.date;
                    var minute = extractMinutes(commitDate);
                    commitsPerMinute[minute] = (commitsPerMinute[minute] || 0) + 1;
                });

                var minutes = Object.keys(commitsPerMinute);
                var commitsCount = minutes.map(minute => commitsPerMinute[minute]);

                var ctx = document.getElementById('commitChart').getContext('2d');
                var commitChart = new Chart(ctx, {
                    type: 'bar', // Type de diagramme modifié en 'bar'
                    data: {
                        labels: minutes,
                        datasets: [{
                            label: 'Commits par minute',
                            data: commitsCount,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)', 
                            borderColor: 'rgba(255, 99, 132, 1)', 
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        legend: {
                            display: true,
                            position: 'bottom' 
                        }
                    }
                });
            });
    </script>
</body>
</html>
